<!-- BEGIN Float Button -->
<div class="float-btn float-btn-left">
    <button class="btn btn-flat-primary btn-icon mb-2" id="theme-toggle" data-toggle="tooltip" data-placement="right" title="Change theme">
        <i class="fa fa-moon"></i>
    </button>
    <button class="btn btn-flat-primary btn-icon" data-toggle="sidemenu" data-target="#sidemenu-dashboard">
        <i class="fa fa-paper-plane"></i>
    </button>
</div>
<!-- END Float Button -->
