{% extends "components/dashboard1/template.njk" %}

{% set direction = "ltr" %}
{% set page_title = "Font Awesome" %}
{% set breadcrumb = [
    { text: "Dashboard", link: "dashboard1/ltr/index.html" | url, icon: '<i data-feather="home"></i>' },
    { text: "Icons" },
    { text: "Font awesome", link: "dashboard1/ltr/icons/fontawesome.html" | url }
] %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <!-- BEGIN Portlet -->
            <div class="portlet">
                <div class="portlet-header portlet-header-bordered">
                    <h3 class="portlet-title">Font awesome</h3>
                </div>
                <div class="portlet-body">
                    <p>Get icons on your website with <strong>Font Awesome</strong>, the web's most popular icon set and toolkit. For more info visit <a href="http://fontawesome.com" target="_blank">Font Awesome</a>.</p>

                    <!-- BEGIN Portlet -->
                    <div class="portlet">
                        <div class="portlet-header portlet-header-bordered">
                            <h3 class="portlet-title">Solid</h3>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fa fa-ad fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">ad</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fa fa-address-book fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">address-book</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fa fa-address-card fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">address-card</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fa fa-adjust fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">adjust</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fa fa-align-center fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">align-center</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fa fa-align-justify fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">align-justify</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fa fa-anchor fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">anchor</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fa fa-bug fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">bug</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fa fa-capsules fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">capsules</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fa fa-folder-open fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">folder-open</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fa fa-headphones fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">headphones</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fa fa-align-justify fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">angle-down</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fa fa-angle-left fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">angle-left</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fa fa-angle-right fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">angle-right</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fa fa-angle-up fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">angle-up</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fa fa-asterisk fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">asterisk</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fa fa-at fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">at</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fa fa-backward fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">backward</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fa fa-ban fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">ban</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fa fa-battery-half fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">battery-half</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fa fa-bell fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">bell</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fa fa-bezier-curve fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">bezier-curve</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fa fa-border-all fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">border-all</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fa fa-bullhorn fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">bullhorn</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fa fa-expand fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">expand</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fa fa-dice fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">dice</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fa fa-crop fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">crop</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fa fa-credit-card fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">credit-card</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fa fa-info fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">info</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fa fa-chart-pie fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">chart-pie</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Portlet -->

                    <!-- BEGIN Portlet -->
                    <div class="portlet">
                        <div class="portlet-header portlet-header-bordered">
                            <h3 class="portlet-title">Regular</h3>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="far fa-clipboard fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">clipboard</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="far fa-edit fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">edit</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="far fa-envelope fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">envelope</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="far fa-file fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">file</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="far fa-calendar fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">calendar</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="far fa-keyboard fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">keyboard</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="far fa-images fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">images</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="far fa-heart fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">heart</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="far fa-moon fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">moon</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="far fa-star fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">star</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="far fa-square fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">square</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="far fa-play-circle fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">play-circle</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="far fa-object-group fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">object-group</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="far fa-newspaper fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">newspaper</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="far fa-paper-plane fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">paper-plane</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="far fa-hand-rock fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">hand-rock</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="far fa-folder fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">folder</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="far fa-comments fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">comments</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="far fa-clone fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">clone</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="far fa-bell-slash fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">bell-slash</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="far fa-chart-bar fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">chart-bar</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="far fa-grin-alt fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">grin-alt</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="far fa-map fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">map</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="far fa-list-alt fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">list-alt</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="far fa-minus-square fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">minus-square</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="far fa-sticky-note fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">sticky-note</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="far fa-thumbs-up fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">thumbs-up</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="far fa-lightbulb fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">lightbulb</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="far fa-user-circle fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">user-circle</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="far fa-eye fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">eye</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Portlet -->

                    <!-- BEGIN Portlet -->
                    <div class="portlet mb-0">
                        <div class="portlet-header portlet-header-bordered">
                            <h3 class="portlet-title">Brands</h3>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fab fa-adobe fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">adobe</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fab fa-airbnb fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">airbnb</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fab fa-android fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">android</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fab fa-apple fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">apple</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fab fa-blackberry fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">blackberry</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fab fa-app-store fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">app-store</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fab fa-bootstrap fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">bootstrap</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fab fa-cc-stripe fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">cc-stripe</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fab fa-cc-visa fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">cc-visa</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fab fa-chromecast fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">chromecast</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fab fa-css3 fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">css3</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fab fa-discourse fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">discourse</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fab fa-dailymotion fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">dailymotion</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fab fa-deviantart fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">deviantart</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fab fa-drupal fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">drupal</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fab fa-firefox-browser fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">firefox-browser</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fab fa-git-alt fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">git-alt</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fab fa-github fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">github</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fab fa-gulp fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">gulp</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fab fa-linkedin fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">linkedin</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fab fa-maxcdn fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">maxcdn</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fab fa-opera fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">opera</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fab fa-paypal fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">paypal</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fab fa-patreon fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">patreon</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fab fa-php fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">php</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fab fa-python fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">python</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fab fa-playstation fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">playstation</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fab fa-youtube fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">youtube</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fab fa-wordpress fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">wordpress</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                                <div class="col-md-2">

                                    <!-- BEGIN Widget -->
                                    <div class="widget18">
                                        <div class="widget18-icon">
                                            <i class="fab fa-xbox fa-2x fa-fw"></i>
                                        </div>
                                        <span class="widget18-text">xbox</span>
                                    </div>
                                    <!-- END Widget -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Portlet -->

                </div>
            </div>
            <!-- END Portlet -->

        </div>
    </div>
</div>
{% endblock %}
