<!-- BEGIN Sidemenu -->
<div class="sidemenu sidemenu-left sidemenu-widest" id="sidemenu-dashboard">
	<div class="sidemenu-header">
		<h3 class="sidemenu-title">Dashboard</h3>
		<div class="sidemenu-addon">
			<button class="btn btn-label-danger btn-icon" data-dismiss="sidemenu">
				<i class="fa fa-times"></i>
			</button>
		</div>
	</div>
	<div class="sidemenu-body" data-simplebar>

		<!-- BEGIN Portlet -->
		<div class="portlet widget19 overflow-hidden mb-3">
			<div class="portlet-header">
				<h4 class="portlet-title">Dashboard 1</h4>
			</div>
			<div class="portlet-body p-0">
				<div class="widget19-preview">
					<img class="img-fluid" src="{{ 'assets/images/preview/dashboard1.webp' | url }}">
					<div class="widget19-action">
						<a href="{{ 'dashboard1/rtl/index.html' | url }}" class="btn btn-pill btn-primary btn-widest ml-3">RTL</a>
						<a href="{{ 'dashboard1/ltr/index.html' | url }}" class="btn btn-pill btn-flat-primary btn-widest">LTR</a>
					</div>
				</div>
			</div>
		</div>
		<!-- END Portlet -->

		<!-- BEGIN Portlet -->
		<div class="portlet widget19 overflow-hidden mb-3">
			<div class="portlet-header">
				<h4 class="portlet-title">Dashboard 2</h4>
			</div>
			<div class="portlet-body p-0">
				<div class="widget19-preview">
					<img class="img-fluid" src="{{ 'assets/images/preview/dashboard2.webp' | url }}">
					<div class="widget19-action">
						<a href="{{ 'dashboard2/rtl/index.html' | url }}" class="btn btn-pill btn-primary btn-widest ml-3">RTL</a>
						<a href="{{ 'dashboard2/ltr/index.html' | url }}" class="btn btn-pill btn-flat-primary btn-widest">LTR</a>
					</div>
				</div>
			</div>
		</div>
		<!-- END Portlet -->

		<!-- BEGIN Portlet -->
		<div class="portlet widget19 overflow-hidden mb-3">
			<div class="portlet-header">
				<h4 class="portlet-title">Dashboard 3</h4>
			</div>
			<div class="portlet-body p-0">
				<div class="widget19-preview">
					<img class="img-fluid" src="{{ 'assets/images/preview/dashboard3.webp' | url }}">
					<div class="widget19-action">
						<a href="{{ 'dashboard3/rtl/index.html' | url }}" class="btn btn-pill btn-primary btn-widest ml-3">RTL</a>
						<a href="{{ 'dashboard3/ltr/index.html' | url }}" class="btn btn-pill btn-flat-primary btn-widest">LTR</a>
					</div>
				</div>
			</div>
		</div>
		<!-- END Portlet -->

		<!-- BEGIN Portlet -->
		<div class="portlet widget19 overflow-hidden mb-3">
			<div class="portlet-header">
				<h4 class="portlet-title">Dashboard 4</h4>
			</div>
			<div class="portlet-body p-0">
				<div class="widget19-preview">
					<img class="img-fluid" src="{{ 'assets/images/preview/dashboard4.webp' | url }}">
					<div class="widget19-action">
						<a href="{{ 'dashboard4/rtl/index.html' | url }}" class="btn btn-pill btn-primary btn-widest ml-3">RTL</a>
						<a href="{{ 'dashboard4/ltr/index.html' | url }}" class="btn btn-pill btn-flat-primary btn-widest">LTR</a>
					</div>
				</div>
			</div>
		</div>
		<!-- END Portlet -->

		<!-- BEGIN Portlet -->
		<div class="portlet widget19 overflow-hidden mb-3">
			<div class="portlet-header">
				<h4 class="portlet-title">Dashboard 5</h4>
			</div>
			<div class="portlet-body p-0">
				<div class="widget19-preview">
					<img class="img-fluid" src="{{ 'assets/images/preview/dashboard5.webp' | url }}">
					<div class="widget19-action">
						<a href="{{ 'dashboard5/rtl/index.html' | url }}" class="btn btn-pill btn-primary btn-widest ml-3">RTL</a>
						<a href="{{ 'dashboard5/ltr/index.html' | url }}" class="btn btn-pill btn-flat-primary btn-widest">LTR</a>
					</div>
				</div>
			</div>
		</div>
		<!-- END Portlet -->

		<!-- BEGIN Portlet -->
		<div class="portlet widget19 overflow-hidden mb-3">
			<div class="portlet-header">
				<h4 class="portlet-title">Dashboard 6</h4>
			</div>
			<div class="portlet-body p-0">
				<div class="widget19-preview">
					<img class="img-fluid" src="{{ 'assets/images/preview/dashboard6.webp' | url }}">
					<div class="widget19-action">
						<a href="{{ 'dashboard6/rtl/index.html' | url }}" class="btn btn-pill btn-primary btn-widest ml-3">RTL</a>
						<a href="{{ 'dashboard6/ltr/index.html' | url }}" class="btn btn-pill btn-flat-primary btn-widest">LTR</a>
					</div>
				</div>
			</div>
		</div>
		<!-- END Portlet -->

		<!-- BEGIN Portlet -->
		<div class="portlet widget19 overflow-hidden mb-3">
			<div class="portlet-header">
				<h4 class="portlet-title">Dashboard 7</h4>
			</div>
			<div class="portlet-body p-0">
				<div class="widget19-preview">
					<img class="img-fluid" src="{{ 'assets/images/preview/dashboard7.webp' | url }}">
					<div class="widget19-action">
						<a href="{{ 'dashboard7/rtl/index.html' | url }}" class="btn btn-pill btn-primary btn-widest ml-3">RTL</a>
						<a href="{{ 'dashboard7/ltr/index.html' | url }}" class="btn btn-pill btn-flat-primary btn-widest">LTR</a>
					</div>
				</div>
			</div>
		</div>
		<!-- END Portlet -->

		<!-- BEGIN Portlet -->
		<div class="portlet widget19 overflow-hidden mb-3">
			<div class="portlet-header">
				<h4 class="portlet-title">Dashboard 8</h4>
			</div>
			<div class="portlet-body p-0">
				<div class="widget19-preview">
					<img class="img-fluid" src="{{ 'assets/images/preview/dashboard8.webp' | url }}">
					<div class="widget19-action">
						<a href="{{ 'dashboard8/rtl/index.html' | url }}" class="btn btn-pill btn-primary btn-widest ml-3">RTL</a>
						<a href="{{ 'dashboard8/ltr/index.html' | url }}" class="btn btn-pill btn-flat-primary btn-widest">LTR</a>
					</div>
				</div>
			</div>
		</div>
		<!-- END Portlet -->

		<!-- BEGIN Portlet -->
		<div class="portlet widget19 overflow-hidden mb-3">
			<div class="portlet-header">
				<h4 class="portlet-title">Email</h4>
			</div>
			<div class="portlet-body p-0">
				<div class="widget19-preview">
					<img class="img-fluid" src="{{ 'assets/images/preview/email.webp' | url }}">
					<div class="widget19-action">
						<a href="{{ 'email/rtl/index.html' | url }}" class="btn btn-pill btn-primary btn-widest ml-3">RTL</a>
						<a href="{{ 'email/ltr/index.html' | url }}" class="btn btn-pill btn-flat-primary btn-widest">LTR</a>
					</div>
				</div>
			</div>
		</div>
		<!-- END Portlet -->

		<!-- BEGIN Portlet -->
		<div class="portlet widget19 overflow-hidden mb-3">
			<div class="portlet-header">
				<h4 class="portlet-title">Criptocurrency</h4>
			</div>
			<div class="portlet-body p-0">
				<div class="widget19-preview">
					<img class="img-fluid" src="{{ 'assets/images/preview/criptocurrency.webp' | url }}">
					<div class="widget19-action">
						<a href="{{ 'criptocurrency/rtl/index.html' | url }}" class="btn btn-pill btn-primary btn-widest ml-3">RTL</a>
						<a href="{{ 'criptocurrency/ltr/index.html' | url }}" class="btn btn-pill btn-flat-primary btn-widest">LTR</a>
					</div>
				</div>
			</div>
		</div>
		<!-- END Portlet -->

		<!-- BEGIN Portlet -->
		<div class="portlet widget19 overflow-hidden mb-0">
			<div class="portlet-header">
				<h4 class="portlet-title">Chatting</h4>
			</div>
			<div class="portlet-body p-0">
				<div class="widget19-preview">
					<img class="img-fluid" src="{{ 'assets/images/preview/chatting.webp' | url }}">
					<div class="widget19-action">
						<a href="{{ 'chatting/rtl/index.html' | url }}" class="btn btn-pill btn-primary btn-widest ml-3">RTL</a>
						<a href="{{ 'chatting/ltr/index.html' | url }}" class="btn btn-pill btn-flat-primary btn-widest">LTR</a>
					</div>
				</div>
			</div>
		</div>
		<!-- END Portlet -->

	</div>
</div>
<!-- END Sidemenu -->
